.pages {
  list-style: none;
  display: flex;
  align-items: center;
  color: hsl(240 100 50);
}

.pages > * {
  box-shadow: 0px 0px 5px hsl(0 0 50 / 0.3);
}

.links {
  flex: 1;
  display: flex;
  justify-content: space-around;
  border-radius: 50px;
  margin: 0 0.5em;
  background: hsl(0 0 100);
}

.links a {
  padding: 0.8em;
  position: relative;
  width: 100%;
}

.links a:hover {
  border-radius: 50px;
  background-color: hsl(240 100 80 / 0.2);
}
