.cart {
  border-radius: 50px;
  background-color: hsl(0 0 100);
}

.cart a {
  padding: 0.5em 0.5em 0.5em 0.8em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5px;
  position: relative;
}

.quantity {
  border: none;
  background-color: hsl(200 50 90);
  color: hsl(0 0 0);
  font-size: 0.9rem;
  padding: 0.3em 0.5em 0.2em;
  border-radius: 50px;
}

.cart a:hover {
  border-radius: 50px;
  background-color: hsl(240 100 80 / 0.2);
}
