.nav {
  padding: 0.5em;
  font-size: 1rem;
  font-weight: 700;
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-items: center;
  gap: 10px;
  text-align: center;
}

.nav a {
  text-decoration: none;
}

.nav a:visited {
  color: inherit;
}
